<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seckill.order.mapper.OrderMapper">

    <!-- 复杂 SQL 放在这里，简单 CRUD 由 MyBatis-Plus 提供 -->

    <select id="countUnpaidOrders" resultType="int" parameterType="map">
        SELECT COUNT(1)
        FROM `order`
        WHERE user_id = #{userId} AND product_id = #{productId} AND status = 0
    </select>

</mapper>
